// Styling for the navbar
$navTransition: all 0.3s;
.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  transition: $navTransition;

  &.hidden {
    top: -110px;
  }

  .navbar-brand {
    color: $white;
  }

  .navbar-nav {
    margin-top: 1rem;
    li.nav-item {
      a.nav-link {
        color: $white;
        &:hover {
          color: $primary;
        }
        &:active,
        &:focus {
          color: $white;
        }
        &.active {
          color: $primary;
        }
      }
    }
  }
  .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
  }
}

//.animated-up {
//  animation: example 0.3s forwards;
//}
//
//@keyframes example {
//  0%   {background-color: transparent; top:0px;}
//  25%  {background-color: transparent; top:0px;}
//  50%  {background-color: transparent; top:0px;}
//  75%  {background-color: transparent; top:-105px;}
//  100% {background-color: red; top:-105px;}
//}

@include media-breakpoint-up(lg) {
  .navbar {
    transition: $navTransition;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    //&.hidden {
    //  top: -110px;
    //}

    .navbar-brand {
      font-size: 1.75em;
      transition: font-size 0.3s;
    }
    .navbar-nav {
      margin-top: 0;
    }
    .navbar-nav > li.nav-item > a.nav-link.active {
      color: $white;
      background: $primary;
      &:active,
      &:focus,
      &:hover {
        color: $white;
        background: $primary;
      }
    }
  }
  //.navbar.navbar-shrink {
  //  padding-top: 0.5rem;
  //  padding-bottom: 0.5rem;
  //  .navbar-brand {
  //    font-size: 1.5em;
  //  }
  //}
}
