// Styling for the navbar
$navTransition: all 0.3s;
.nav-bookmark {
  position: absolute;
  top: 100%;
  right: 20px;
  z-index: 1;
  overflow: hidden;
  width: 50px;
  height: 50px;

  &_icon {
    position: absolute;
    color: #2c3e50;
    top: -5px;
    right: 0;
  }
}
.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  transition: $navTransition;
  z-index: 20;

  &.hidden {
    top: -73px;
  }

  .navbar-brand {
    color: $white;
  }

  .navbar-nav {
    margin-top: 1rem;
    li.nav-item {
      a.nav-link {
        color: $white;
        &:hover {
          color: $primary;
        }
        &:active,
        &:focus {
          color: $white;
        }
        &.active {
          color: $primary;
        }
      }
    }
  }
  .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
  }
}

@include media-breakpoint-up(lg) {
  .navbar {
    transition: $navTransition;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    &.hidden {
      top: -105px;
    }

    .navbar-brand {
      font-size: 1.75em;
      transition: font-size 0.3s;
    }
    .navbar-nav {
      margin-top: 0;
    }
    .navbar-nav > li.nav-item > a.nav-link.active {
      color: $white;
      background: $primary;
      &:active,
      &:focus,
      &:hover {
        color: $white;
        background: $primary;
      }
    }
  }
}
