html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #255ddb;
  background-image: linear-gradient(45deg, #2d73db 0%, #2755db 100%);
  opacity: 0.9;
  color: $white;
}

//body.fontLoaded {
//  font-family: 'Roboto', Helvetica, Arial, sans-serif;
//  color: $gray-900;
//}


//----------------------------------------------------------------------------------
//                             Layout
//----------------------------------------------------------------------------------


.frame {
  background: $white;

  & > div {
    position: fixed;
    overflow: hidden;
    opacity: .08;
    background: $white;
  }

  &--top {
    top: 0;
    left: 0;
    right: 0;
    height: $frameSize;
  }
  &--right {
    top: 0;
    bottom: 0;
    right: 0;
    width: $frameSize;
  }
  &--bottom {
    bottom: 0;
    left: 0;
    right: 0;
    height: $frameSize;
  }
  &--left {
    top: 0;
    bottom: 0;
    left: 0;
    width: $frameSize;
  }

}

.content {
  min-height: calc(100vh - (#{$frameSize} * 2));
  //margin-top: $frameSize;
  position: relative;
  top: $frameSize;
  display: flex;
  align-items: center;
  justify-content: center;
}


.absolute-left {
  position: absolute;
  left: 0;
}

.max-width {
  max-width: $maxWidth;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.center-column {
  flex: 1 1 auto; // Lets middle column shrink/grow to available width
}

.outline-danger {
  outline: 1px solid $danger;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 50px;
  z-index: 50;
}


//----------------------------------------------------------------------------------
//                             Buttons
//----------------------------------------------------------------------------------



//----------------------------------------------------------------------------------
//                             Modals
//----------------------------------------------------------------------------------
.modal_danger {
  color: $danger;
}

.modal_success {
  color: $success;
}

// --------- navbar-tooltip
div.navbar-tooltip {
  &.show {
    //opacity: 1;
  }

  margin-top: 10px;

  .tooltip-inner {
    background-color: $success;
    color: $blue;
    font-size: 16px;
  }

  .arrow::before {
    bottom: 0;
    border-width: 0 0.4rem 0.4rem;
    border-bottom-color: $success;
  }
}

//----------------------------------------------------------------------------------
//                             Forms
//----------------------------------------------------------------------------------

.form-small {
  position: relative;
  max-width: 760px;
  margin: auto;

  //.form-body {
  //  position: relative;
  //  background: $white;
  //  border: 1px solid $silver-three;
  //  border-radius: 5px;
  //  padding: 15px 19px 7px 20px;
  //
  //  select.form-control {
  //    height: 52px;
  //  }
  //
  //  label {
  //    margin-bottom: 4px;
  //    margin-left: -2px;
  //  }
  //
  //  h6 {
  //    margin-left: -1px;
  //  }
}

.form-control:focus {
  box-shadow: none;
}


.global_class {
  font-size: 30px;
  //background-color: red;
}


//--------- errors ---------
.has-error .Select .Select-control,
.has-error .Select .Select-control:hover {
  border-color: $danger !important;
}

.has-error .Select.is-focused {
  .Select-control {
    border-color: $danger !important;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
  }
}

.invalid-feedback {
  width: 100%;
  margin-top: 0;
  margin-left: 15px;
  float: right;
  color: $danger;
  position: absolute;
}
//--------- end errors ---------



