:root {
  --bg-main-stop-1: #412faa;
  --bg-main-stop-2: #5753c9;
  --bg-main-stop-3: #5b69cb;
  --bg-top-nav: linear-gradient(
      -225deg,
      var(--bg-main-stop-1) 0%,
      var(--bg-main-stop-2) 48%,
      var(--bg-main-stop-3) 100%
    )
    no-repeat;
  --bg-main: linear-gradient(
      -225deg,
      var(--bg-main-stop-1) 0%,
      var(--bg-main-stop-2) 48%,
      var(--bg-main-stop-3) 100%
    )
    no-repeat;
}
