:root {
  --bs-btn-active-border-color: transparent;
}

.navbar-dark {
  --bs-navbar-color: #fcfcfccc;
}

html {
  background: var(--bg-main);
  scrollbar-color: #5b69cb #3d3762;
}

.icon-bar {
  width: 25px;
  height: 2px;
  border-radius: 3px;
  background-color: var(--bs-white);
  margin: 3px 0;
}

html,
body {
  margin: 0;
  font-family:
    Roboto,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
  background-color: transparent;
  color: var(--bs-white);
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.cool-link {
  display: inline-block;
  text-decoration: none;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: var(--bs-white);
}

.cool-link:hover::after,
.cool-link.active::after {
  width: 100%;
}

.form-control,
.form-control:focus {
  color: var(--bg-main-stop-1);
}

.btn-outline-light {
  --bs-btn-hover-color: var(--bg-main-stop-1);
  --bs-btn-active-color: var(--bg-main-stop-1);
}
