:root {
  --bs-btn-active-border-color: transparent;
}

.navbar-dark {
  --bs-navbar-color: #fcfcfccc;
}

html {
  background: $bg-main;
  // for firefox
  scrollbar-color: #5b69cb #3d3762; // Thumb color and track color
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 10px !important;
}

::-webkit-scrollbar-track {
  background: #3d3762 !important;
}

::-webkit-scrollbar-thumb {
  background: #5b69cb !important;
  border-radius: 5px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #6c7ae2 !important;
}

.icon-bar {
  width: 25px;
  height: 2px;
  border-radius: 3px;
  background-color: $white;
  margin: 3px 0;
}

html,
body {
  margin: 0;
  font-family:
    Roboto,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Helvetica,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol;
  background-color: transparent;
  color: $white;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.cool-link {
  display: inline-block;
  text-decoration: none;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: $white;
}

.cool-link:hover::after,
.cool-link.active::after {
  width: 100%;
}

.form-control,
.form-control:focus {
  color: $bg-main-stop-1;
}
