$bg-main-stop-1: #412faa;
$bg-main-stop-2: #5753c9;
$bg-main-stop-3: #5b69cb;
$bg-top-nav: linear-gradient(
    -225deg,
    $bg-main-stop-1 0%,
    $bg-main-stop-2 48%,
    $bg-main-stop-3 100%
  )
  no-repeat;
$bg-main: linear-gradient(
    -225deg,
    $bg-main-stop-1 0%,
    $bg-main-stop-2 48%,
    $bg-main-stop-3 100%
  )
  no-repeat;

// =================================
// Overriding node_modules/bootstrap/scss/_variables.scss
// =================================

$white: #fff;

// To change the "light" button text color
$color-contrast-dark: $bg-main-stop-1;
