// TODO remove unnecessary styles

.main {
  max-width: 100% !important;
  max-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #576b84;
}

.scrollToTop {
  position: relative;
  left: 90vw;
  bottom: 3vw;
  width: 5vw;
}

.imgTop {
  width: 5vw;
}

.row {
  width: 100%;
  display: flex;
  margin: 0;
}

.col {
  padding-top: 5vw;
  padding-bottom: 2vw;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.centralCol {
  padding-bottom: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutProject {
  font-family: 'Open Sans', system-ui;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8vw;
  line-height: 3vw;
  letter-spacing: 0.05em;
  color: #fff;
  text-decoration: none;
}

.aboutProject:hover {
  color: #fff;
}

.testColor2 {
  color: red;
}

.forTips {
  margin-top: 3vw;
  font-family: 'Open Sans', system-ui;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5vw;
  line-height: 2vw;
  text-align: center;
  letter-spacing: 0.05em;
  color: #fff;
}

.centralContFirstRow {
  margin: 3vw 0 2vw;
  display: flex;
  justify-content: space-around;
}

.centralCont {
  margin: 2vw 0;
  display: flex;
  justify-content: space-around;
}

.iconsDia {
  min-width: 8vw;
  max-width: 10vw;
  max-height: 65px;
  margin-top: 10px;
}

.iconsGoTogether {
  min-width: 8vw;
  max-width: 24vw;
}

.iconsEEFund {
  margin-top: 3px;
  min-width: 8vw;
  max-width: 10vw;
}

.socialNet {
  font-family: 'Open Sans', system-ui;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8vw;
  text-align: center;
  letter-spacing: 0.05em;
  color: #fff;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.icons {
  margin: 1vw;
  max-width: 6vw;
}

.hr {
  color: white;
  size: 1vw;
}

.lastText {
  padding-bottom: 2vw;
  font-family: 'Open Sans', system-ui;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8vw;
  line-height: 2vw;
  text-align: center;
  letter-spacing: 0.05em;
  color: #fff;
}

.acknowledgementText {
  padding-bottom: 20px;
  font-family: 'Open Sans', system-ui;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #fff;
}

.color {
  color: #feb600;
}
