// Variables


//=============================== COLORS ===============================================
$white: #fcfcfc !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

//$blue:    #2196F3 !default;
$blue:    #1591e8 !default;
//$dark-blue: #2c3e50 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #e51c23 !default;
$orange:  #fd7e14 !default;
$yellow:  #ff9800 !default;
//$green:   #4CAF50 !default;
//$green: #19c87f !default;
$green: #21c466 !default;
//$teal: #1abc9c !default; // from template
$teal:    #20c997 !default;
$cyan:    #9c27b0 !default;

$primary: $teal !default;
//$secondary: $dark-blue !default;
//$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$amazon:        #f0c14b !default;
$youtube:       #ff0001 !default;

$topNavBgStop1: #2166e5;
$topNavBgStop2: #444bf0;
$topNavBg: radial-gradient(circle at top left, $topNavBgStop1, $topNavBgStop2);

$mainBgStop1: #2d89f2;
$mainBgStop2: #2755db;

$mainBg: radial-gradient(circle at top right, #2166e5, #444bf0),
          radial-gradient(circle at top left, $mainBgStop1, $mainBgStop2);
//$bgLinear: linear-gradient(45deg, $mainBgStop1 0%, $mainBgStop2 100%);
//$bgRadial2: radial-gradient(circle at bottom left, $mainBgStop3, $mainBgStop4);

//=============================== COLORS ===============================================

// Override Bootstrap font variables
$font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;
$headings-font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;
$headings-font-weight: 700 !default;

// Override Bootstrap border variables
$border-width: 0.125rem !default;
$border-radius: 0.5rem !default;
$border-radius-lg: 0.75rem !default;
$border-radius-sm: 0.25rem !default;

// Override Bootstrap input/button variables
$input-btn-border-width: $border-width !default;

// Override Bootstrap modal variables
$modal-inner-padding: 4rem 1rem !default;
$modal-content-border-width: 0 !default;
